---
layout: blog
slug: blog
---
<div id="main-body">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% assign author = site.data.authors[post.author] %}
      <div class="blogpost col-lg-18 col-md-18 col-sm-18">
        <div class="post-img">
          <img src="/images/{{post.image}}" alt="">
          <div class="absolute">
            <div class="date">
              <span class="">{{post.date | date: "%m/%d/%Y"}}</span>
            </div>
            <h1 class="title">{{post.title}}</h1>
            <h2 class="sub-title">{{post.subtitle}}</h2>
          </div>
        </div>
        <div class="post">
          {{ post.content | strip_html | truncatewords:175, "..."}} 
          <a href="{{post.url}}" style="display: block;">Read More</a>
        </div>
      </div>
      {% include blog-side.html %}
      {% endfor %}
    </div>
  </div>
</div>