<div class="col-lg-5 col-md-5 col-md-offset-1 col-xs-offset-1 rightcol post-side">
  {% if author %}
  <div class="profile">
    <p class="posted">POSTED BY:</p>
    <a href="{{ author.web }}" style="display: block;">
      <div class="profile-img">
        <img src="/images/authors/{{author.img}}" alt="">
      </div>
      <h2>{{ author.name }}</h2>
      <h3>{{ author.title }}</h4>
    </a>

    <div class="social">
      {% if author.linkedin %}
      <a class="linkedin" href="https://ie.linkedin.com/in/{{author.linkedin}}" target="_blank"><em class="fa fa-linkedin"></em></a>
      {% endif %}
      {% if author.twitter %}
      <a class="twitter" href="https://ie.linkedin.com/in/{{author.linkedin}}" target="_blank"><em class="fa fa-twitter"></em></a>
      {% endif %}
    </div>
  </div>
  <p class="latest">LATEST FROM AUTHOR</p>
  {% for post in site.posts %}
  {% if post.author %}
  <div>
    <em class="fa fa-arrow-right"></em>
    <div class="content">
      <a href="{{ post.permalink }}">{{ post.title }}</a>
    </div>
  </div>
  
  {% endif%}
  {% endfor %}
  {% endif %}
</div>
