<div class="col-lg-6 col-md-6 rightcol post-side">
  <div class="profile">
    {% unless blog_index %}
    <p class="posted">POSTED BY:</p>
    {% endunless %}
    <a href="{{ author.web }}" style="display: block;">
      <div class="profile-img">
        <img src="/images/authors/{{author.img}}" alt="">
      </div>
      <h2>{{ author.name }}</h2>
      <h3>{{ author.title }}</h4>
    </a>

    <div class="social">
      {% if author.linkedin %}
      <a class="linkedin" href="https://ie.linkedin.com/in/{{author.linkedin}}" target="_blank"><em class="fa fa-linkedin"></em></a>
      {% endif %}
      {% if author.twitter %}
      <a class="twitter" href="https://ie.linkedin.com/in/{{author.linkedin}}" target="_blank"><em class="fa fa-twitter"></em></a>
      {% endif %}
    </div>
  </div>
  <p class="latest">{% if blog_index %}LATEST FROM BLOG{% else %}LATEST FROM AUTHOR{% endif %}</p>
  {% for post in site.posts %}
    {% assign post_author = site.data.authors[post.author] %}
    {% if blog_index %}
    <div>
      <em class="fa fa-arrow-right"></em>
      <div class="content">
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <p>{{ post_author.name }}</p>
      </div>
    </div>
    {% else %}
    {% if author == post_author %}
    <div>
      <em class="fa fa-arrow-right"></em>
      <div class="content">
        <a href="{{ post.permalink }}">{{ post.title }}</a>
      </div>
    </div>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
