{% assign lan_url = '' %}
{% if page.language != 'en' %}
{% assign lan_url = '/' | append: page.language %}
{% endif %}
<div id="page" class="page {{ page.slug }} {% if page.layout == 'page-home-new' %}swiss{% endif %}">
<header class="header">
  <div id="navbar" class="navbar navbar-top navbar-default  border0" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-lg-24 col-md-24 text-center">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navhider" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ lan_url }}/">
              <div>
                <img src="{{ site.baseurl }}/images/header-logo.png" alt="logo" class="top-logo"> 
                <div style="display: inline-block; vertical-align: middle;">
                  <span style="color: #000000; font-size: 20.3px; font-weight: 500; font-family: Rubik; display: block;">CARDANO</span>
                  <span style="color: #000000; font-size: 16.2px; font-weight: 400; font-family: Rubik; display: block;">FOUNDATION</span>
                </div>
              </div>
            </a>
          </div>
          <div id="navhider" class="collapse navbar-collapse ">
            {% include nav-main.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if page.title == 'home' %}
  <section id="welcome1" class="section banner">
    <div class="container banner">
      <div class="row">
        <div class="col-lg-24 col-md-24 text-center">
          <div class="row">
            <div class="col-lg-20 col-lg-offset-2 col-md-24">
              <h1>{{ site.data[lan].home_of }}</h1>

              <h3>{{ site.data[lan].home_banner_desc_1 }}</h3>
              <br>
              <p class="banner-desc">{{ site.data[lan].home_banner_desc_2 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="top" class="top text-center container">
      <div class="wrap row">
        <div class="col-lg-20 col-lg-offset-2 col-md-24">
        </div>
        {% assign yt = 'jfv7Ha8cPps' %}
        {% if page.language == 'ja' %}
        {% assign yt = 'ecfPgjBdznk' %}
        {% endif %}

        <div class="col-md-12">
          <div id="comp" class="">
            <a href="https://www.youtube.com/watch?v={{yt}}" class="iohk_video_load_modal" rel="{{yt}}">
            <img src="{{ site.baseurl }}/images/mac-play.jpg" width="" alt="" />
            </a>
          </div>
        </div>
        <div class="col-md-12 text-left">
          <h2>{{ site.data[lan].home_banner_title_2 }}</h2>
          <br>
          <p class="testnet">{{ site.data[lan].home_banner_desc_3 }}</p>
          <p class="testnet">{{ site.data[lan].home_banner_desc_4 }}</p>
          <br>
          <a href="http://daedaluswallet.io" class="btn download-btn">{{ site.data[lan].download_here }}</a>
        </div>
      </div>
      <div id="faq" class="anchoring"></div>
    </div>
  </section>
  {% endif %}
</header>