<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">

<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="{{ page.meta_description }}">

<meta name="twitter:card" content="{{ page.title }}">
<meta name="twitter:site" content="{{ page.title }}">
<meta name="twitter:creator" content="Cardano">
<meta name="twitter:image" content="{{ '/images/iohk-share-logo.jpg' | prepend: site.baseurl }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.meta_description }}">

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="page" />
<meta property="og:url" content="{{site.baseurl}}{{page.permalink}}" />
<meta property="og:image" content="{{ '/images/iohk-share-logo.jpg' | prepend: site.baseurl }}" />
<meta property="og:description" content="{{ page.meta_description }}" />
<meta property="og:site_name" content="{{ page.title }}" />


<script>(function(){document.documentElement.className='js'})();</script>
<script>
var lowie = false;
var lowerie = false;
</script>


<link rel="shortcut icon" type="image/png" href="{{ '/images/apple-icon.png?v=1' | prepend: site.baseurl }}"/>

<link rel="stylesheet" href="{{ '/css/app.0.3.css' | prepend: site.baseurl }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ '/css/base.0.2.css' | prepend: site.baseurl }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ '/css/cf.0.0.391.css' | prepend: site.baseurl }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ '/css/main.css?v=3' | prepend: site.baseurl }}" type="text/css" media="all" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" type="text/css" media="all" />

<link hreflang="en" href="/" rel="alternate" />
<link hreflang="ja" href="/ja/" rel="alternate" />
<link hreflang="x-default" href="/" rel="alternate" />

<script type="text/javascript" src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/bs.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/functions.0.3.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{{ '/js/custom.js?v=9' | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-101007627-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
