<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navside" aria-expanded="false">
  <span class="sr-only">Toggle library navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
</div>
<div id="navside" class="collapse navbar-collapse ">
  <ul class="navbar-side nav navbar-collapse scrolledtop">
    {% for anchor in include.item.anchors %}
    <li>
      <a class="nosearch" href="{{ lan_url }}{{include.item.permalink}}#{{anchor.slug}}">{{anchor.tit}}</a>
      {% if anchor.subanchors %}
      <ul>
        {% for subanchor in anchor.subanchors %}
        <li>
          <a class="nosearch" href="{{ lan_url }}{{include.item.permalink}}#{{subanchor.slug}}">{{subanchor.tit}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </li>
    
    {% endfor %}
  </ul>
</div>
<br />