<ul id="menu-top" class="nav navbar-nav navbar-right uppercase">
  <li class="home {% if page.slug == 'home' %}active{% endif %}"><a href="/">Home</a></li>
  <li class="about {% if page.slug == 'project' %}active{% endif %}"><a href="/project/">The Project</a></li>
  <li class="protocol {% if page.slug == 'protocol' %}active{% endif %}"><a href="/protocol/">The Protocol</a></li>
  <li class="foundation {% if page.slug == 'foundation' %}active{% endif %}"><a href="/foundation/">The Foundation</a></li>

  <li class="learn-more {% if page.slug == 'learn-more' %}active{% endif %}"><a href="/learn-more/">Learn More</a></li>
  <!-- <li class="faq {% if page.slug == 'faq' %}active{% endif %}"><a href="/faq/">FAQ</a></li> -->
  <li class="blog {% if page.slug == 'blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
</ul>
