<section class="section">
  <p class="">
    The Cardano platform is a collective project, made up of three institutions that have separate roles, all contributing to the project’s success.
  </p>
  <div class='icon-diagram'>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class="center-img" src="{{ '/images/project/1.png' | prepend: site.baseurl }}" alt="" />
      </div>
      <div class="icon-text-wrap">
        <p><em>The Cardano Foundation’s mission is to “standardise, protect and promote” the Cardano Protocol technology</em></p>
      </div>
    </div>
    <div class="icon-divider">
    </div>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class='' src="{{ '/images/project/2.png' | prepend: site.baseurl }}" />
      </div>
      <div class="icon-text-wrap">
        <p><em>IOHK is a world class blockchain engineering company responsible for building the Cardano blockchain.</em></p>
      </div>
    </div>
    <div class="icon-divider">
    </div>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class='' src="{{ '/images/project/3.png' | prepend: site.baseurl }}" />
      </div>
      <div class="icon-text-wrap">
        <p><em>Emurgo is responsible for fostering commercial applications being built upon the Cardano ecosystem.</em></p>
      </div>
    </div>
  </div>
</section>