{% assign lan = 'i18n_' | append: page.language %}
<section class="section">
  <p class="">
    {{ site.data[lan].project_stackholders_desc_1 }}
  </p>
  <div class='icon-diagram'>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class="center-img" src="{{ '/images/project/1.png?v=1' | prepend: site.baseurl }}" alt="" />
      </div>
      <div class="icon-text-wrap">
        <p><em>{{ site.data[lan].project_stackholders_desc_2 }}</em></p>
      </div>
    </div>
    <div class="icon-divider">
    </div>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class='' src="{{ '/images/project/2.png?v=1' | prepend: site.baseurl }}" />
      </div>
      <div class="icon-text-wrap">
        <p><em>{{ site.data[lan].project_stackholders_desc_3 }}</em></p>
      </div>
    </div>
    <div class="icon-divider">
    </div>
    <div class="icon-set center">
      <div class="icon-img-wrap">
        <img class='' src="{{ '/images/project/3.png?v=1' | prepend: site.baseurl }}" />
      </div>
      <div class="icon-text-wrap">
        <p><em>{{ site.data[lan].project_stackholders_desc_4 }}</em></p>
      </div>
    </div>
  </div>
</section>