<div class="row">
  <div class="col-md-12">
    <em class="fa fa-file-text"></em>
    <div class="content">
      <a href="/press/cardano-a-blockchain-with-privacy-and-regulation/">Cardano Newsletter Blockchain Technology | CryptoCurrency Software ...and Beyond - April 18th 2017: Testnet 0.5 Release!</a>
      <p>04/19/2017</p>
    </div>
  </div>
  <div class="col-md-12">
    <em class="fa fa-file-text"></em>
    <div class="content">
      <a href="/press/cardano-a-blockchain-with-privacy-and-regulation/">Cardano Newsletter Blockchain Technology | CryptoCurrency Software ...and Beyond - March 2017: Updates on ADA vending and Testnet 0.5</a>
      <p>03/31/2017</p>
    </div>
  </div>
</div>