.page-sidebar {
  &.protocol {
    .post {
      ul {
        padding-left: 20px;
        margin-bottom: $item-space;
        font-family: Rubik;
        font-size: 17.0px;
        font-weight: 500;
        color: #6f6f6f;
        li {
          strong {
            font-weight: 400;
          }
        }

        ul {
          margin-top: $item-space;
          font-weight: 400;
        }
      }
    }
  }
}